body {
    background-image: url("img2.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3rem;
    padding: auto;
    color: rgb(0, 0, 0);
}

ul {
    padding: 2rem;
}

img {
    opacity: 0.4;
}

.Title {
    color: rgb(253, 253, 255);
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    border-radius: 10px;
}

h2 {
    color: rgb(0, 182, 24);
    padding: 0.5rem;
    font-size: 25px;
}

td {
    border: 1px solid black;
    text-align: 15px;
    margin: 1px;
    padding: 1px;
}

table {
    margin: 1rem;
    border-collapse: collapse;
}

caption {
    font-size: 25px;
    margin-bottom: 1rem;
}

span {
    color: gold;
}

div {
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0)
}

div:hover {
  background-color: rgb(252, 252, 252);
  transform: scale3d(1.1, 1.1, 0.2);
}
