body {
    background-color: rgb(234, 234, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
    padding: auto;
    color: rgb(0, 0, 0);
}

ul {
    padding: 2rem;
}

h1 {
    color: rgb(75, 75, 229, 0.7);
    padding: 1rem;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: rgb(0, 182, 24, 0.6);
    padding: 0.5rem;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    margin: 1rem;
    margin-top: 2rem;
}

table {
    margin: 1rem;
}