body {
    background-color: rgb(234, 234, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem;
    padding: auto;
    color: rgb(0, 0, 0);
}

ul {
    padding: 2rem;
}

h1 {
    color: rgb(75, 75, 229, 0.7);
    padding: 1rem;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: rgb(0, 182, 24, 0.6);
    padding: 0.5rem;
    font-size: 25px;
}

td {
    border: 1px solid black;
    text-align: 15px;
    margin: 1px;
    padding: 1px;
}

table {
    margin: 1rem;
    border-collapse: collapse;
}

caption {
    font-size: 25px;
    margin-bottom: 1rem;
}
